body {
    background-color: #f9f9f9;
}

.goods-page {
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100vh;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    table {
        width: 70%;
        border-collapse: collapse;
        align-self: center;
        margin-bottom: 50px;

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;

            &:first-child {
                width: 50%; // ширина для названия товара
            }
            &:nth-child(2) {
                width: 30%; // ширина для приоритета
            }
            &:last-child {
                width: 20%; // ширина для действий
            }
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1; // цвет при наведении
        }

        input[type="text"],
        input[type="number"] {
            width: 95%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #007BFF; // цвет кнопки при наведении
                color: white;
            }

            &:nth-child(1) {
                background-color: #FFC107; // цвет кнопки "Изменить"
                margin-right: 5px;
            }

            &:nth-child(2) {
                background-color: #dc3545; // цвет кнопки "Удалить"
            }

            &:last-child {
                background-color: #28a745; // цвет кнопки "Добавить"
            }
        }
    }
}
.admin-header {
    background-color: black;
    color: white;
    padding: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    span {
        display: flex;
        align-items: center;
        img {
            width:80px;
            height: auto;
            padding-left: 20px;
        }
    }
    .admin-controls {
      display: flex;
      gap: 25px;
      padding-right: 30px;
      a {
        color: white;
        text-decoration: none;
        &:hover{
            font-weight: 700;
            border-bottom: .5px solid white;
            transition: .2s ease-out;
        }
      }
    }
  }